
<!-- Main Footer -->
<footer class="main-foot">
	<div class="container">
		<div class="foot-top-row">
			<a href="/" class="logo logo--foot"><img src="img/logo-foot.jpg" alt=""></a>

			<!-- Footer Navigation -->
			<nav class="foot-nav">
				<ul class="foot-menu">
					<li><a href="#">Les spectacles</a></li>
					<li><a href="#">Actualités</a></li>
					<li><a href="#">Galerie</a></li>
					<li><a href="#">Concours</a></li>
					<li><a href="#">Live Music Production</a></li>
					<li><a href="#">Informations</a></li>
					<li><a href="#">Billetterie</a></li>
				</ul>
			</nav>
			<!-- /Footer Navigation -->

			<div class="foot-controls">
				
				<form action="">
					<input type="email" required placeholder="Enter your email for updates">
					<button type="submit">GO</button>
				</form>

				<div class="lng" id="foot_lng">
					<span class="lng__current">EN</span>
					<svg class="icon "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#angle-down"></use></svg>
					<ul class="lng__list">
						<li><a href="#">FR</a></li>
					</ul>
				</div>
			</div>

		</div>


		<div class="foot-bottom-row">
			<span class="copy">©2015 LiveMusic.ch</span>
                    
			<nav class="addition-nav">
				<ul>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Informations légales</a></li>
					<li><a href="#">Conditions commerciales</a></li>
					<li><a href="#">Plan du site</a></li>
					<li><a href="#">Crédits</a></li>
				</ul>
			</nav>


			<ul class="follow">
				<li>Follow us:</li>
				<li><a href="#" target="_blank"><svg class="icon "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li>
				<li><a href="#" target="_blank"><svg class="icon "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- /Main Footer -->