<div class="svg-icons">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol viewBox="0 0 512 512" id="angle-down">
        <path d="M399 210c0 3-1 5-3 7L263 350c-2 2-5 3-7 3s-5-1-7-3L116 217c-2-2-3-4-3-7 0-2 1-4 3-6l15-15c1-1 4-2 6-2 3 0 5 1 7 2l112 113 112-113c2-1 4-2 7-2 2 0 5 1 6 2l15 15c2 2 3 4 3 6z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="angle-left">
        <path d="M344 155c0 3-1 5-3 7L229 274l112 113c2 1 3 4 3 6 0 3-1 5-3 7l-14 14c-2 2-5 3-7 3s-5-1-7-3L180 281c-2-2-3-4-3-7 0-2 1-4 3-6l133-133c2-2 5-3 7-3s5 1 7 3l14 14c2 2 3 4 3 6z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="angle-right">
        <path d="M335 274c0 3-1 5-3 7L199 414c-2 2-5 3-7 3s-5-1-7-3l-14-14c-2-2-3-4-3-7 0-2 1-5 3-6l112-113-112-112c-2-2-3-4-3-7 0-2 1-4 3-6l14-14c2-2 5-3 7-3s5 1 7 3l133 133c2 2 3 4 3 6z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="angle-up">
        <path d="M399 338c0 3-1 5-3 7l-15 14c-1 2-4 3-6 3-3 0-5-1-7-3L256 247 144 359c-2 2-4 3-7 3-2 0-5-1-6-3l-15-14c-2-2-3-4-3-7 0-2 1-4 3-6l133-133c2-2 5-3 7-3s5 1 7 3l133 133c2 2 3 4 3 6z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="big-angle-left">
        <path d="M398 485l-20 21c-3 4-4 3-7 1L136 288c-1 0-1-1-2-1l-8-8-11-11c-2-2-2-6 1-8L369 9c1-2 5-3 7-1l20 20c3 3 2 5 0 8L165 264l231 215c2 1 4 4 2 6z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="big-angle-right">
        <path d="M116 477l231-215L116 34c-2-3-3-5 0-8l20-20c2-2 6 0 7 1l253 251c3 2 3 6 1 8l-11 11v1l-8 7c-1 0-1 1-2 1L141 505c-3 2-4 3-7 0l-20-21c-2-3 0-6 2-7z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="facebook">
        <path d="M384 3v76h-45c-17 0-28 3-33 10-6 7-9 17-9 31v54h84l-11 85h-73v216h-87V259h-73v-85h73v-62c0-36 10-63 29-83 20-19 47-29 80-29 28 0 49 1 65 3z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="map-marker">
        <path d="M329 183c0-20-7-38-21-52-15-14-32-21-52-21s-37 7-52 21c-14 14-21 32-21 52s7 37 21 52c15 14 32 21 52 21s37-7 52-21c14-15 21-32 21-52zm73 0c0 21-3 38-9 51L289 455c-3 6-8 11-14 15s-12 5-19 5-13-1-19-5-11-9-14-15L119 234c-6-13-9-30-9-51 0-41 14-75 43-104 28-28 63-42 103-42s75 14 103 42c29 29 43 63 43 104z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="pdf">
        <path d="M137 215c-3 0-7 1-10 1v66c2 1 5 1 8 1 9 1 19-2 26-9s10-17 9-27c1-8-2-17-9-24-6-6-15-9-24-8zm178 253h163c18 0 34-15 34-33V76c0-19-16-34-34-33H315V0L0 40v431l315 41zm163-19H315V308c39-8 80-8 120-1l5 9c19 35 40 35 48 33 1 0 1 0 2-1h2v-1 88c0 8-6 14-14 14zM328 291c26-29 46-57 59-76 10 21 27 53 39 75v1c-32-4-65-4-98 1l1-1zm59-138c2-2 4-2 6-2 3 0 5 2 7 4 2 9 0 18-6 24 0 0-2 2-4 6-4-10-5-21-3-32zm68 160c9 3 17 8 25 13 2 3 4 6 4 9-3 1-15 1-29-22zM317 62h161c4 0 7 1 10 4 3 2 4 6 4 10v242l-1-1v-1l-1-1c-14-9-29-16-45-20-12-23-38-71-49-94 7-9 10-14 10-14 9-11 12-26 7-39-5-7-12-11-20-11-7-1-14 3-18 9-6 16-4 34 3 50 1 1 1 3 2 4-20 29-42 58-65 85V62zM81 253c-9 7-20 11-31 10h-8v34H22v-95c9-1 18-2 28-2 10-1 21 1 29 7 7 6 11 14 10 23 1 8-2 17-8 23zm96 35c-14 10-31 14-48 13-8-1-17-1-25-3v-97c10-2 20-3 31-3 15-2 30 2 42 10 13 9 19 23 19 39 1 16-6 31-19 41zm35-91l69-2v20l-44 1v24h41v20h-41v42h-25zM51 216c-3 0-6 0-9 1v29h7c5 1 10 0 13-3 4-3 6-8 6-13 0-4-2-8-5-11-3-2-8-4-12-3z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="phone">
        <path d="M384 512c-42 0-144-55-230-174C74 227 35 147 35 93c1-31 17-59 44-74l4-2C98 6 117 1 136 0c13 0 25 8 30 20 3 8 35 78 38 87 7 16 2 33-12 44l-2 2c-11 6-20 16-24 28-1 6 2 13 6 19 25 34 103 134 117 147 9 11 24 13 35 4 5-4 10-8 14-13 6-6 14-9 23-8 10 0 19 3 27 9 24 17 78 54 78 54 12 12 15 31 6 47-12 23-49 72-88 72zM136 19c-15 0-30 5-43 13l-4 3C68 46 54 69 53 93c0 50 38 126 116 234 85 117 182 166 215 166 28 0 60-40 71-62 6-7 5-17-1-23 0 0-53-37-76-53-5-4-11-6-17-6-4 0-7 1-10 2-5 6-10 10-15 15-18 14-44 12-59-5-16-15-97-118-120-150-7-9-11-21-9-33 5-17 16-32 31-41l3-1c6-6 8-15 5-23-3-7-34-76-38-85-1-5-7-9-13-9z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="search">
        <path d="M512 485L364 337c71-84 62-209-19-284-82-74-207-71-285 7s-81 203-7 284c75 82 200 91 284 20l148 148zM22 206c0-102 82-184 184-184s184 82 184 184-82 184-184 184S22 308 22 206z" />
    </symbol>
    <symbol viewBox="0 0 512 512" id="twitter">
        <path d="M481 117c-13 18-28 34-46 47v12c0 25-3 50-11 74-7 25-18 49-33 71-14 23-32 43-52 61-21 17-45 31-74 41-29 11-60 16-92 16-52 0-99-14-142-42 7 1 14 2 22 2 43 0 81-14 115-40-20 0-38-6-54-18s-27-27-33-46c7 1 13 2 18 2 8 0 16-1 24-4-21-4-39-15-53-31-14-17-21-37-21-59v-1c13 7 27 11 42 11-13-8-23-19-30-32-8-14-11-29-11-44 0-17 4-33 12-47 23 28 51 51 84 68s69 27 107 29c-2-8-3-15-3-22 0-25 9-47 27-65s40-27 66-27 49 10 67 29c21-4 40-11 59-22-7 22-21 39-41 51 18-2 35-7 53-14z" />
    </symbol>
</svg>
</div>