//out: none

/*~~~~~~~~~~~~~~~~~~~~~~~~~~
  6. Helpers
~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* streem */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* Object fit */

.fit-img-container {
    overflow: hidden;
    background: #d1d1d1;
    >img {
        object-fit: cover;
        display: block;
        width: 100%;
        //height: 100%;
    }
    &.compat-object-fit {
        background-size: cover;
        background-position: center center;
        >img {
            opacity: 0;
        }
    }
}
