/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-pb-header-search {
  background-image: url(../img/sprites/sprites.png);
  background-position: 0px 0px;
  width: 33px;
  height: 33px;
}
.icon-pb-pdf {
  background-image: url(../img/sprites/sprites.png);
  background-position: -43px 0px;
  width: 21px;
  height: 21px;
}
