/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	4.1. Home Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* Hero Slider*/

.home-hero {
    height: 100vh;
    padding-top: 80px;
    position: relative;
}

.hero {
    position: absolute;
    left: 0;
    top: 80px;
    bottom: 0;
    right: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    .slick-list {
        height: 100%;
    }
    .slick-track {
        height: 100%;
    }
    .slick-dots {
        position: absolute;
        list-style-type: none;
        margin: 0;
        padding: 0;
        right: 35px;
        top: 50%;
        transform: translateY(-50%);
        >li {
            display: block;
            margin-top: 20px;
            &.slick-active {
                >button {
                    background: $red;
                    border-color: $red;
                    opacity: 1 !important;
                }
            }
            &:first-child {
                margin-top: 0;
            }
            >button {
                display: block;
                border: 1px solid #fff;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: none;
                transition: all .3s ease;
                font: 0 /0 a;
                padding: 0;
                text-indent: -99999px;
                outline: none !important;
                &:hover {
                    background: $red;
                    border-color: $red;
                    opacity: .6;
                }
            }
        }
    }
}

.hero__slide {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &.slick-active {
        .hero__slide__in {
            opacity: 1;
            top: 50%;
        }
    }
    .container {
        position: relative;
        height: 100%;
    }
    &__in {
        position: absolute;
        top: 40%;
        left: 15px;
        transform: translateY(-50%);
        transition: all .6s ease .8s;
        opacity: 0;
    }
    &__info {
        font: 2.1em /1.1 $open-b;
        color: $red;
        display: block;
        text-transform: uppercase;
    }
    &__head {
        font: 7.2em /1 $open-b;
        color: #fff;
        display: block;
        margin-bottom: 8px;
        margin-top: -2px;
    }
    &__place {
        font: 2.6em /1 $open-s;
        color: #fff;
        display: block;
        margin-bottom: 20px;
    }
    &__btns {
        a {
            display: inline-block;
            margin-right: 28px;
            font: 1.4em /2 $open-b;
            color: #fff;
            text-transform: uppercase;
            padding: 15px;
            transition: all .3s ease;
            text-align: center;
            min-width: 170px;
        }
    }
    &__btn-buy {
        background: $red;
        &:hover {
            background: $blue;
        }
    }
    &__btn-info {
        border: 1px solid #fff;
        &:hover {
            background: #fff;
            color: $blue;
        }
    }
}

@include breakpoint(md) {
    .home-hero {
        padding-top: 70px;
    }
    .hero {
        top: 70px;
    }
    .hero__slide__in {
        top: auto !important;
        bottom: 70px;
        transform: translateY(0);
    }
    .hero__slide.slick-active .hero__slide__in {
        bottom: 30px;
    }
}

@include breakpoint(sm) {
    .hero .slick-dots {
        display: none !important;
    }
}

@include breakpoint(xs) {
    .hero__slide__info {
        font: 1.6em/1.88 $open-b;
    }
    .hero__slide__head {
        font: 3em /1 $open-b;
    }
    .hero__slide__place {
        font: 1.6em/1.88 $open-b;
    }
    .hero__slide__btns {
        text-align: justify;
        text-justify: newspaper;
        display: block;
        width: 100%;
        max-width: 380px;
        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }
    .hero__slide__btns a {
        margin: 0;
        vertical-align: middle;
        width: 47%;
        min-width: 1px;
        padding: 5px 15px;
    }
    .hero__slide__in {
        left: 20px;
        right: 20px;
    }
}


/* Latest Section */

.latest {
    background: #fff;
    padding: 43px 0;
    text-align: center;
    &__head {
        font: 1.6em /1.75 $open-b;
        color: $red;
        text-transform: uppercase;
        display: block;
    }
    &__subhead {
        margin: 0;
        font: 3.2em /.88 $open-b;
        color: $blue;
    }
}

@include breakpoint(md) {
    .latest__subhead {
        font: 3.2em / 1.1 "OpenSans-Bold", sans-serif;
    }
}

@include breakpoint(xs) {
    .latest__head {
        font: 1.3em / 1.4 "OpenSans-Bold", sans-serif;
    }
    .latest__subhead {
        font: 1.8em / 1.22 "OpenSans-Bold", sans-serif;
    }
    .latest {
        padding: 20px 0;
    }
}


/* Events */

.events {
    div[class^="col-"] {
        padding: 0;
    }
    .events__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__item {
        float: left;
        position: relative;
        width: 100/3 + %;
        overflow: hidden;
        &:hover {
            .events__item__pic {
                transform: scale(1.1) rotate(2deg);
                &:before {
                    opacity: 1;
                }
            }
            .events__item__info {
                background: rgba(198, 33, 39, .85);
            }
        }
        &__pic {
            display: block;
            transition: all .5s ease;
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 1;
                background: rgba(19, 31, 41, .5);
                opacity: 0;
                transition: opacity .3s ease;
            }
            img {
                display: block;
                width: 100%;
                height: 18vw !important;
            }
        }
        &__info {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            padding: 15px;
            background: rgba(0, 0, 0, .85);
            z-index: 2;
            transition: background .3s ease;
        }
        &__name {
            font: 1.8em /1.33 $open-s;
            color: #fff;
            display: block;
            margin-bottom: 5px;
            transition: color .3s ease;
        }
        &__place {
            font: 1.2em /2 $open;
            color: #fff;
            display: block;
            transition: color .3s ease;
        }
    }
}

.event-big {
    &__pic {
        overflow: hidden;
        display: block;
        img {
            display: block;
            width: 100%;
            height: 36vw !important;
        }
    }
    &__info {
        position: absolute;
        left: 118px;
        right: 38px;
        bottom: 24px;
    }
    &__head {
        display: block;
        font: 3.6em /1 $open-s;
        color: $red;
    }
    &__foot {
        border-top: 2px solid #fff;
        position: relative;
        margin-top: 14px;
        padding-top: 17px;
        @extend .justify;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: -2px;
            left: 0;
            width: 40px;
            background: $red;
            height: 2px;
        }
    }
    &__place {
        display: inline-block;
        vertical-align: middle;
        font: 1.6em /1.5 $open;
        color: #fff;
    }
    &__btns {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        padding: 0;
        list-style-type: none;
        >li {
            display: inline-block;
            margin-left: 6px;
            &.event-big__ticket-btn {
                >a {
                    background: $red;
                    border: 1px solid $red;
                    &:hover {
                        background: $blue;
                        border-color: $blue;
                    }
                }
            }
            &.event-big__info-btn {
                >a {
                    background: none;
                    border: 1px solid #fff;
                    &:hover {
                        background: #fff;
                        color: $blue;
                    }
                }
            }
            a {
                display: block;
                font: 1.2em /2 $open-ex;
                color: #fff;
                transition: all .3s ease;
                text-transform: uppercase;
                padding: 0 8px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .events__item__info {
        padding: 7px;
    }
    .events__item__name {
        font: 1.6em / 1 "OpenSans-Semibold", sans-serif;
        margin: 1px 0;
    }
    .events__item__place {
        font: 1.2em / 1.5 "OpenSans", sans-serif;
    }
}

@include breakpoint(md) {
    .events__i__pic img {
        height: 22vw !important;
    }
    .event-big__pic img {
        height: 44vw !important;
    }
    .event-big__info {
        right: 20px;
        left: 20px;
        bottom: 20px;
    }
    .events__item:hover .events__item__pic {
        transform: none !important;
    }
}

@include breakpoint(xs) {
    .event-big__pic img {
        height: 450px !important;
    }
    .events__item__pic img {
        height: 290px !important;
    }
    .events .events__list {
        display: flex;
        flex-wrap: wrap;
        >li {
            flex-grow: 1;
            flex-basis: 250px;
        }
    }
}


/* Featured Events */

.featured {
    padding: 75px 0 60px;
    background: url(../img/home/featured/featured-bg.jpg) no-repeat center center/cover;
    overflow: hidden;
    &__head {
        text-align: center;
        >img {
            display: inline-block;
        }
        >span {
            display: block;
            margin: -20px auto 20px;
            color: #c62127;
            font: 1.6em /1.37 $open;
            max-width: 235px;
        }
    }
}

.featured-slider {
    position: relative;
    margin-top: 62px;
    .slick-track:hover {
        .featured__item {
            opacity: .4;
            &:hover {
                opacity: 1;
            }
        }
    }
    .slick-arrow {
        position: absolute;
        top: 40%;
        display: inline-block;
        border: none !important;
        background: none;
        outline: none !important;
        padding: 0;
        &:hover {
            svg {
                fill: $red;
            }
        }
        svg {
            height: 48px;
            width: 48px;
            fill: #fff;
            transition: fill .3s ease;
            display: inline-block;
        }
        &.slick-prev {
            left: -123px;
            text-align: right;
        }
        &.slick-next {
            right: -123px;
            text-align: left;
        }
    }
}

.featured__item {
    text-align: center;
    transition: opacity .3s ease;
    margin: 0 5px;
    &__pic {
        display: block;
        img {
            display: block;
            width: 100%;
            max-width: 100%;
        }
    }
    &__head {
        font: 2em /1.4 $open-s;
        color: #fff;
        display: block;
        margin: 15px 0 5px;
        &:hover {
            color: $red;
        }
    }
    &__place {
        font: 1.2em /1.5 $open;
        color: #fff;
        display: block;
    }
    &__btns {
        margin-top: 12px;
        margin-bottom: 5px;
        >a {
            display: inline-block;
            color: #fff;
            transition: all .3s ease;
            padding: 0 10px;
            text-transform: uppercase;
            font: 1.2em /1.83 $open-ex;
            margin: 0 2px;
        }
    }
    &__ticket-btn {
        border: 1px solid $red;
        background: $red;
        &:hover {
            border: 1px solid #fff;
            background: $blue;
        }
    }
    &__info-btn {
        border: 1px solid #fff;
        background: none;
        &:hover {
            background: #fff;
            color: $blue;
        }
    }
}

.featured__links {
    margin-top: 75px;
    @extend .justify;
    a {
        font: 1.4em /1.72 $open-b;
        color: #fff;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        &:hover {
            color: $red;
        }
    }
    &__pdf {
        svg {
            fill: $red;
            width: 33px;
            height: 33px;
            display: inline-block;
            vertical-align: middle;
            transition: fill .3s ease;
        }
        &:hover {
            color: $red;
            svg {
                fill: #fff;
            }
        }
    }
}

@media (max-width: 1500px) {
    .featured-slider {
        padding: 0 60px;
    }
    .featured-slider .slick-arrow.slick-next {
        right: -60px;
    }
    .featured-slider .slick-arrow.slick-prev {
        left: -60px;
    }
}

@include breakpoint(xs) {
    .featured-slider {
        padding: 0 45px;
    }
    .featured-slider .slick-arrow.slick-prev {
        left: -50px;
    }
    .featured-slider .slick-arrow.slick-next {
        right: -50px;
    }
    .featured-slider .slick-arrow svg {
        width: 30px;
    }
    .featured__head>span {
        margin: 0 auto 10px;
    }
    .featured__links__pdf {
        display: none !important;
    }
    .featured__links {
        text-align: center;
    }
    .featured__links {
        margin-top: 40px;
    }
    .featured-slider {
        margin-top: 26px;
    }
}


/* Services */

.services {
    display: table;
    width: 100%;
    background: #fff;
    &__item {
        display: table-cell;
        width: 50%;
        text-align: right;
        padding: 107px 30px 80px;
        vertical-align: top;
        & + & {
            text-align: left;
            background: url(../img/home/services/services-1.jpg) no-repeat center center/cover;
            .services__item__txt {
                color: #fff
            }
            .services__item__link {
                color: #fff;
                &:hover {
                    color: $red;
                    svg {
                        fill: #fff;
                    }
                }
            }
        }
        &__in {
            max-width: 555px;
            text-align: left;
            display: inline-block;
        }
        &__head {
            display: block;
            font: 3em /1.2 $open-b;
            color: #131f29;
            img {
                margin-top: 4px;
                display: block;
                max-width: 100%;
            }
        }
        &__txt {
            font: 1.6em /1.75 $open;
            color: #131f29;
            margin: 28px 0 39px;
        }
        &__link {
            color: #131f29;
            &:after {
                color: $red;
            }
            &:hover {
                color: $red;
                svg {
                    fill: $blue;
                }
            }
        }
    }
}

@include breakpoint(sm) {
    .services {
        display: block;
    }
    .services__item {
        display: block;
        width: 100%;
        padding: 40px 15px;
    }
    .services__item__in {
        max-width: 100%;
    }
    .services__item__txt {
        margin: 20px 0;
    }
}

@include breakpoint(xs) {
    .services__item {
        padding: 30px 15px;
    }
    .services__item__head {
        font: 2em / 1.2 "OpenSans-Bold", sans-serif;
    }
    .services__item__txt {
        margin: 15px 0;
        font: 1.4em / 1.6 "OpenSans", sans-serif;
    }
}


/* Gallery */

.gallery {
    div[class^="col-"] {
        padding: 0 !important;
    }
    &__item {
        display: block;
        float: left;
        width: 100/3 + %;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        &.gallery__item--width-2-3 {
            width: (100/3)*2 + %;
        }
        &.gallery__item--width-2 {
            width: 50%;
        }
        &.gallery__item--width-3 {
            width: 100%;
        }
        &.gallery__item--height-2 {
            img {
                height: 32vw;
                min-height: 500px;
            }
        }
        &.gallery__item--facebook {
            &:before {
                display: none !important;
            }
        }
        &:hover {
            &:before {
                opacity: 1;
                transform: scale(1);
            }
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(198, 33, 39, .5);
            opacity: 0;
            transform: scale(.5);
            transition: all .2s ease;
        }
        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: 16vw;
            min-height: 250px;
        }
    }
}

.gallery__item__facebook-widget {
    height: 16vw;
    min-height: 250px;
    padding: 12px 12px 12px 30px;
    background: #3b5998;
    width: 100%;
    justify-content: space-between;
    display: flex;
    &__in {
        vertical-align: middle;
        width: 51%;
        align-self: center;
    }
    &__head {
        font: 3.6em /1 $open-b;
        color: #fff;
    }
    &__txt {
        font: 1.4em/1.71 $open;
        color: #fff;
    }
    &-box {
        width: 47%;
        height: 100%;
        align-self: center;
    }
}

@include breakpoint(md) {
    .gallery__item__facebook-widget {
        padding: 10px;
    }
    .gallery__item__facebook-widget__head {
        font-size: 2.6em;
    }
    .gallery__item__facebook-widget__txt {
        font-size: 1.2em;
    }
}

@include breakpoint(xs) {
    // .gallery__i{
    // 	width: 100%;
    // }
    // .gallery__i img{
    // 	height: 62vw
    // }
    .gallery__item.gallery__item--height-2 img {
        min-height: 400px
    }
    .gallery__item {
        width: 100%
    }
    .gallery__second {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        .gallery__item {
            flex-basis: 250px;
            flex-grow: 1;
            float: none;
            width: auto;
            >img {
                height: 62vw;
                max-height: 300px;
            }
            &.gallery__item--facebook {
                flex-basis: 100%;
                width: 100% !important;
                order: 1;
                flex-grow: 1;
            }
        }
    }
    .gallery__item__facebook-widget {
        flex-flow: wrap;
        height: auto;
    }
    .gallery__item__facebook-widget__in {
        flex-basis: 400px;
        width: auto;
        flex-grow: 1;
    }
    .gallery__item__facebook-widget-box {
        flex-basis: 400px;
        width: auto;
        flex-grow: 1;
    }
    .gallery__first {
        display: flex;
        flex-flow: wrap;
        .gallery__item {
            flex-grow: 1;
            width: auto;
            flex-basis: 250px;
            >img {
                max-height: 300px;
                height: 62vw;
            }
            &.gallery__item--height-2 {
                flex-basis: 700px;
                >img {
                    //max-height: 400px;
                }
            }
        }
    }
}


/* Partners */

.partners-section {
    background: $blue;
    padding: 50px 0;
}

.partners {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    >li {
        display: inline-block;
        margin-left: 50px;
        vertical-align: middle;
        &:last-child {
            float: right;
            padding-top: 11px;
        }
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            position: relative;
            img {
                display: block;
                opacity: 1;
                transition: opacity .3s ease;
                &.partners__img-hover {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
            &:hover {
                >img {
                    opacity: 0;
                    &.partners__img-hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@include breakpoint(md) {
    .partners-section .container {
        width: 100%;
    }
    .partners>li {
        padding: 0 4px 20px;
        margin: 0 20px;
        max-width: 30%;
    }
    .partners>li:last-child {
        display: block;
        margin-top: 20px;
        text-align: center;
        width: 100%;
        float: none;
        margin-top: 10px;
        margin-left: 0;
        max-width: 100%;
        a {
            text-align: center;
            display: inline-block;
        }
    }
    .partners {
        text-align: center;
    }
}

@include breakpoint(sm) {
    .partners-section {
        padding: 25px 0 0;
    }
}

@include breakpoint(xs) {
    .partners>li {
        margin: 0;
    }
    .partners-section .container {
        padding: 0;
    }
}
