//out:none

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	5. Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-foot {
    background: $red;
    padding: 30px 0 33px;
}

.logo--foot {
    display: inline-block;
    vertical-align: middle;
    >img {
        display: block;
    }
}

.foot-top-row {
    @extend .justify;
}

.foot-nav {
    display: inline-block;
    vertical-align: middle;
}

.foot-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 27px;
    >li {
        display: inline-block;
        margin-right: 7px;
        a {
            display: block;
            font: 1.2em / 3 $open-ex;
            color: #fff;
            text-transform: uppercase;
            &:hover {
                color: $blue;
            }
        }
    }
}

.foot-controls {
    display: inline-block;
    vertical-align: middle;
    padding-top: 22px;
    form {
        position: relative;
        width: 250px;
        padding-right: 44px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        input[type="email"] {
            height: 36px;
            width: 100%;
            display: block;
            border: 1px solid #fff !important;
            outline: none !important;
            background: none;
            font: 1.2em/1.2 $open;
            color: #fff;
            padding: 0 11px;
            border-right: none;
            &:focus,
            &:active {
                background: #fff;
                color: $blue;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: $blue;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: $blue;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: $blue;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: $blue;
                }
            }
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #fff;
                font: 1.2em/2.83 $open-i;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #fff;
                font: 1.2em/2.83 $open-i;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #fff;
                font: 1.2em/2.83 $open-i;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: #fff;
                font: 1.2em/2.83 $open-i;
            }
        }
        button {
            position: absolute;
            border: 1px solid #fff;
            width: 45px;
            top: 0;
            bottom: 0;
            right: 0;
            color: #fff;
            outline: none !important;
            text-transform: uppercase;
            font: 1.2em/2.83 $open-ex;
            text-align: center;
            display: block;
            background: none;
            transition: all .3s ease;
            &:hover {
                background: $blue;
                border-color: $blue;
            }
        }
    }
    .lng {
        display: inline-block;
        vertical-align: middle;
        width: 70px;
        height: 36px;
        border: 1px solid #fff;
        background: none;
        cursor: pointer;
        position: relative;
        svg {
            position: absolute;
            width: 17px;
            height: 17px;
            display: block;
            top: 8px;
            right: 7px;
            transition: all .3s ease;
        }
        &:hover {
            background: #fff;
            .lng__current {
                color: $blue;
            }
            svg {
                fill: $blue;
                transform: rotate(180deg);
            }
            ul {
                display: block;
            }
        }
        &__current {
            color: #fff;
            font: 1.2em/2.83 $open-s;
            display: block;
            padding-left: 14px;
            transition: color .3s ease;
        }
        &__list {
            margin: 0;
            padding: 0;
            list-style-type: none;
            position: absolute;
            left: -1px;
            right: -1px;
            top: 100%;
            display: none;
            >li {
                display: block;
                >a {
                    display: block;
                    background: $blue;
                    width: 100%;
                    height: 36px;
                    color: #fff;
                    font: 1.2em/2.83 $open-s;
                    padding-left: 14px;
                    border-top: 1px solid $red;
                    transition: all .3s ease;
                    &:hover {
                        background: #fff;
                        color: $blue;
                    }
                }
            }
        }
    }
}

.foot-bottom-row {
    text-align: left;
    color: #fff;
    margin-top: 17px;
    .copy {
        font: 1.2em /1.66 $open;
        display: inline-block;
        vertical-align: middle;
        margin-right: 30px;
    }
}

.addition-nav {
    display: inline-block;
    vertical-align: middle;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        >li {
            display: inline-block;
            margin-right: 11px;
            >a {
                display: block;
                font: 1.2em /1.66 $open;
                color: #fff;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

.follow {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    >li {
        display: inline-block;
        font: 1.2em /1.66 $open;
        vertical-align: middle;
        margin-left: 13px;
        &:first-child {
            margin: 0 5px 0 0;
        }
        >a {
            display: inline-block;
            vertical-align: middle;
            svg {
                width: 23px;
                height: 23px;
                transition: fill .3s ease;
            }
            &:hover {
                svg {
                    fill: $blue;
                }
            }
        }
    }
}

@include breakpoint(sm) {
    .foot-menu {
        display: none;
    }
    .addition-nav {
        display: none;
    }
    .logo.lofo--foot {
        padding: 0;
    }
}

@media (max-width: 500px) {
    .main-foot {
        position: relative;
        padding: 73px 0 30px;
    }
    .follow {
        display: none;
    }
    .foot-controls {
        padding-top: 0;
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        text-align: center;
        form {
            display: inline-block;
        }
    }
    .foot-controls .lng {
        display: none;
    }
    .foot-bottom-row {
        margin-top: -30px;
        text-align: right;
    }
    .foot-bottom-row .copy {
        margin-right: 0;
    }
}
