//out:none

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	3. Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.main-head {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    &__in {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1599px) {
    .main-head__in {
        justify-content: flex-start;
    }
}

@include breakpoint(md) {
    .main-head {
        padding: 3px 0;
    }
}

@include breakpoint(sm) {
    .main-head .container {
        width: 100%;
    }
}


/* Logo */

.main-head .logo {
    padding-top: 10px;
    >img {
        display: block;
    }
}

@include breakpoint(md) {
    .main-head .logo {
        padding-top: 0;
    }
}

@include breakpoint(xs) {
    .main-head .container {
        padding: 0;
    }
    .main-head .logo {
        padding: 5px 0 6px;
    }
    .main-head .logo>img {
        width: 100px;
    }
}

.head-search {
    position: fixed;
    left: 0;
    top: 80px;
    right: 0;
    background: rgba(19, 31, 40, .8);
    padding: 23px 0 20px;
    transition: bakground .3s ease;
    display: none;
    &:hover {
        background: $blue;
    }
    &__form {
        width: 100%;
        position: relative;
        input[type="text"] {
            display: block;
            width: 100%;
            height: 52px;
            background: none !important;
            border: none;
            border-bottom: 1px solid #758490;
            color: #fff;
            font: 2.4em/2.16 $open-l;
            border-radius: 0 !important;
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #758490;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #758490;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: #758490;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: #758490;
            }
        }
        button {
            position: absolute;
            top: 0;
            right: 18px;
            background: none !important;
            border: none !important;
            outline: none !important;
            padding: 0;
            &:hover {
                svg {
                    fill: #fff;
                }
            }
            svg {
                width: 33px;
                height: 35px;
                fill: #758490;
                transition: fill .3s ease;
            }
        }
    }
}

@include breakpoint(md) {
    .head-search {
        top: 70px;
    }
}
@include breakpoint(xs) {
	.head-search__form input[type="text"]{
		height: 45px;
		font-size: 1.4em;
	}

	.head-search__form button:before{
		font-size: 2.5em;
	}

	.head-search{
		padding: 10px 0 20px;
	}

	.head-search .container{
		padding-left: 1.5em !important;
	}
}
