/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $red;
    z-index: 99;
    display: none;
    &__in {
        max-height: 100vh;
        padding: 115px 20px 20px;
        overflow-y: auto;
    }
}

.mobile-main-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    >li {
        display: block;
        margin-bottom: 22px;
        >a {
            display: inline-block;
            font: 1.4em /1.15 $open-ex;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: .04em;
        }
    }
}

.mobile-addition-menu {
    margin: 0 0 20px;
    padding: 25px 0;
    list-style-type: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    >li {
        display: block;
        margin-top: 13px;
        &:first-child {
            margin-top: 0;
        }
        >a {
            display: inline-block;
            color: #fff;
            font: 1.2em /1.33 $open;
        }
    }
}

.mobile-foot-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    max-width: 400px;
    >li {
        display: inline-block;
        width: 47%;
        &.mobile-lng {
            border-right: 1px solid #fff;
            max-width: 150px;
            a {
                font: 1.4em /2 $open-b;
                color: #fff;
                text-transform: uppercase;
                margin-right: 30%;
                display: inline-block;
                vertical-align: middle;
            }
        }
        &.mobile-follow {
            text-align: right;
            span {
                display: inline-block;
                font: 1.2em /2 $open-b;
                color: #fff;
                vertical-align: middle;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
                svg {
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}
