//out:none

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    3.1. Main Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.top-nav {
    padding-right: 125px;
    margin-left: 15px;
}

@include breakpoint(lg) {
    .mobile-nav {
        display: none !important;
    }
}

@include breakpoint(md) {
    .top-nav {
        padding: 0;
        margin: 0;
    }
}


/**/

.top-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    >li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        padding: 26px 0;
        >a {
            display: block;
            font: 1.4em /2 $open-b;
            color: $blue;
            text-transform: uppercase;
            &:hover {
                color: $red;
            }
        }
    }
}

@include breakpoint(md) {
    .top-menu {
        display: none;
    }
}

.top-btns {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    >li {
        display: block;
        float: left;
        &.top-btns__phone {
            display: none;
            >a {
                background: $grey;
                padding: 18px 20px 8px;
                svg {
                    height: 35px;
                    width: 32px;
                }
                &:hover {
                    background: $red;
                }
            }
        }
        &.top-btns__search {
            >a {
                background: $blue;
                border-right: 1px solid $blue;
                &:hover {
                    background: $red;
                }
                svg {
                    width: 35px;
                    height: 36px;
                    fill: #fff;
                    display: none;
                }
            }
        }
        &.top-btns__hamburger {
            display: none;
            >a {
                background: $red;
                &:hover {
                    background: $grey;
                }
            }
        }
        &.top-btns__get-ticket {
            >a {
                background: $red;
                &:hover {
                    background: $grey;
                }
            }
        }
        >a {
            display: block;
            font: 1.4em /2 $open-b;
            color: #fff;
            text-transform: uppercase;
            width: 10.5vw;
            float: left;
            text-align: center;
            padding: 26px 15px;
            transition: all .3s ease;
        }
    }
}

@include breakpoint(md) {
    .top-btns>li>a {
        width: auto;
        padding: 21px 15px;
    }
    .top-btns>li.top-btns__search>a {
        font-size: 0;
        line-height: 0;
        padding: 17px 20px;
        svg {
            display: block;
        }
    }
    .top-btns>li.top-btns__phone {
        display: block;
    }
    .top-btns>li.top-btns__hamburger {
        display: block;
    }
    .hamburger {
        background: $red !important;
    }
}

@include breakpoint(xxs) {
    .top-btns__get-ticket {
        display: none !important;
    }
    .top-btns>li.top-btns__phone {
        >a {
            padding: 19px 22px 6px;
            svg {
                width: 22px;
                height: 36px;
            }
        }
    }
    .top-btns>li.top-btns__search {
        >a {
            border: none;
            padding: 17px 22px;
            svg {
                width: 22px;
                height: 36px;
            }
        }
    }
    .hamburger {
        border: none;
        padding: 26px 20px !important;
    }
}
