//out:none

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	2. Custom Starter
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    //font: 16px/26px $open;
    overflow-x: hidden;
    background: #000;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

a {
    font-weight: 600;
    color: #333232;
    text-decoration: none;
    transition: color .3s ease;
    &:hover {
        color: $red;
    }
}

input[type="text"],
input[type="email"],
textarea {
    outline: none !important;
}


/* SVG ICONS */

.svg-icons {
    display: none;
}

.icon {
    width: 32px;
    height: 32px;
    fill: #fff;
}

.has-arrow {
    font: 1.4em /1.72 $open-b;
    color: #fff;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    svg {
        width: 19px;
        height: 19px;
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
        fill: $red;
        transition: fill .3s ease;
    }
    &:hover {
        svg {
            fill: #fff;
        }
    }
}


/* Let's get this party started */

// ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
// }
// /* Track */
// ::-webkit-scrollbar-track {
//     background: #fafafa;
// }
//  Handle 
// ::-webkit-scrollbar-thumb {
//     background: $green; 
// }
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: rgba(99,168,50,.5); 
// }
